apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fitness-tracker-ingress
spec:
  rules:
  - host: NGINX_SERVER_NAME
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: fitness-tracker-proxy
            port:
              number: 8080
  tls:
  - hosts:
    - NGINX_SERVER_NAME
    secretName: fitness-tracker-tls-prod
